@model List<SSH_FrontEnd.Models.DTOs.MenuDTO>

@{
    ViewData["Title"] = "Menus";
}

<h2>Menus</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price (€)</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Chef_Name</td>
                <td>@item.Price</td>
               
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MenuId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MenuId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MenuId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
